# Local backend port
PORT=5000
NODE_ENV=development

# Local MySQL / XAMPP settings
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=queue_system

# Railway MySQL uses these automatically if you add them in Railway variables
# MYSQLHOST=
# MYSQLPORT=
# MYSQLUSER=
# MYSQLPASSWORD=
# MYSQLDATABASE=

# Use a long random value in production
JWT_SECRET=change_this_to_a_long_random_secret

# Local frontend URL
# For Railway production, change this to your Vercel frontend URL
CLIENT_URL=http://localhost:5173
